{% extends 'base.html' %}

{% block title %} Lista wpisów {% endblock %}

{% block lista_wpisow %}
<div class="filters">
    <a href="{% url 'wpisy-main' %}?orderby=tytul">Po tytule</a>
    <a href="{% url 'wpisy-main' %}?orderby=created">Po dacie utworzenia</a>

</div>
<div class="sidebar">
    <div class="lista_wpisow">
        <ul>
            {% for wpis in wpisy %}
            <li><a href="{% url 'szczegoly-wpisu' id_wpisu=wpis.id %}?page={{page}}">{{ wpis.tytul }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if wpisy.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ wpisy.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ wpisy.number }} of {{ wpisy.paginator.num_pages }}.
            </span>
            {% if wpisy.has_next %}
                <a href="?page={{ wpisy.next_page_number }}">next</a>
                <a href="?page={{ wpisy.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}

{% block wpis %}
<div class="wpis">
    <h1>{{ wybrany_wpis.tytul }}</h1>
    <div class="tresc_wpisu">{{ wybrany_wpis.tresc }}</div>
    <div class="tag_list">
        {% for tag in tagi %}
        <a href="{% url 'wpisy-po-tagu' nazwa_taga=tag.nazwa %}">{{ tag.nazwa }}</a>
        {% endfor %}
    </div>
</div>
Tutaj chcę dodać komentarz...
<form method="POST" action="{% url 'szczegoly-wpisu' id_wpisu=wybrany_wpis.id %}">
    {% csrf_token %}
    nick: <input type="text" name="nick"><br>
    email: <input type="text" name="email"><br>
    tytul: <input type="text" name="tytul"><br>
    tresc: <textarea name="tresc"></textarea><br>
    <button type="submit">Komentuj</button>
</form>

A tutaj będą komentarze:
{% for k in wybrany_wpis.komentarz_set.all %}
    <div class="comment">
    {{k.tytul}}<br>
        <small>{{k.nick}} | {{k.created}}</small>
    <br>
        {{ k.tresc }}

    </div>
{% endfor %}


{% endblock %}