{% extends 'base.html' %}

{% block title %} Lista wpisów {% endblock %}

{% block lista_wpisow %}
<div class="sidebar">
    <div class="lista_wpisow">
        <ul>
            {% for wpis in wpisy %}
            <li><a href="{% url 'szczegoly-wpisu' id_wpisu=wpis.id %}?page={{page}}">{{ wpis.tytul }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if wpisy.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ wpisy.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ wpisy.number }} of {{ wpisy.paginator.num_pages }}.
            </span>
            {% if wpisy.has_next %}
                <a href="?page={{ wpisy.next_page_number }}">next</a>
                <a href="?page={{ wpisy.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}

{% block wpis %}
<div class="wpis">
    <h1>{{ wybrany_wpis.tytul }}</h1>
    <div class="tresc_wpisu">{{ wybrany_wpis.tresc }}</div>
    <div class="tag_list">
        {% for tag in tagi %}
        {{ tag.nazwa }}
        {% endfor %}
    </div>
</div>
{% endblock %}